<script>
    $('.owl-carousel').owlCarousel({
      autoplay:true,
      autoplayTimeout: 4000,
      autoplayHoverPause:false,
      center: true,
      singleItem:true,
      touchDrag: false,
      navigation : true, // Show next and prev buttons
      navigationText: [
      "<i class='fas fa-chevron-left'></i>",
      "<i class='fas fa-chevron-right'></i>"
      ],
      items:1,
      autoHeight: false,
      animateIn: 'fadeIn',
      animateOut: 'fadeOut',
      slideSpeed : 4000,
      paginationSpeed : 4000,
      rewind:false,
      margin: 0,
    })
  </script>