<a href="https://www.booking.com/hotel/ar/la-estacion-hostel.es.html#tab-reviews" target="_blank" class="tooltip" title="Reservar por Booking">
<img src="{{ site.baseurl }}/img/icon-booking.svg" width="20">
</a>
<a href="https://www.facebook.com/laestacionhostel/" target="_blank" class="tooltip" title="Reservar por Facebook">
<i class="fa fa-facebook-square" aria-hidden="true"></i>
</a>
<a href="https://www.instagram.com/laestacionhostel/" target="_blank" class="tooltip" title="Galería de imagenes en instagram">
<i class="fa fa-instagram" aria-hidden="true"></i>
</a>