
.sec-contacto {
	.inner-wrapper {
		max-width: 700px;
	}



	h4 {
		font-size: 22px;
		letter-spacing: 0;
		margin: 5px 0;
		font-weight: 400;

		
	}

	p {
		font-size: 18px;
	}

	@include media($mobile) {
		.booking-container {
		    .fa {
		    	font-size: 33px !important;
		    }

		    img {
	    	    width: 25px;
		    }
	    }
	}
}