
section {
	min-height: 100vh;
	padding: 2em;
	color: #fff;
	
	.inner-wrapper {
		margin: 0 auto;
		max-width: 1020px;
		padding-top: 0;
		padding-left: 200px;
	}

	h2 {
		font-family: 'Kaushan Script', cursive;
		color: #fff;
		font-size: 40px;
	}

	p {

	}
}

.sec-hero {
	background-image: url('/img/alojamiento/salon-mesas.jpg');
	background-size: cover;
	background-position: center;
	min-height: auto;
	padding: 0;


	.hero-heading {
		position: absolute;
		z-index: 100;
		top: 25%;
		left: 0;
		right: 0;
		text-align: center;
		color: #fff;
		font-size: 30px;
	
		h1 {
			margin: 0 0 10px 0;

		}

		.button {
			letter-spacing: 1px;
		}

		span {
			font-family: 'Kaushan Script', cursive;
		}
	}

	.inner-wrapper {
		padding: 0;
		overflow: hidden;
		max-width: 100%;
		position: relative;
		height: 700px;
	}
}

.sec-alojamiento {


	p {
		font-size: 21px;
		line-height: 30px;
	}
}

.rooms {
	display: flex;
	flex-wrap: wrap;
	//justify-content: center;
	.room-item {
		width: 31%;
		padding: 0;
		text-align: center;
		background: #1a7e82;
		margin: 1%;

		img {
			width: 100%;
		}

		b {
			margin: 1em;
			display: block;
			font-size: 20px;
			font-weight: 400;
		}
	}
}

.sec-contacto {
	h4 {
		font-size: 20px;
		letter-spacing: 1px;
		margin: 5px 0;
	}
}

.ui.button {
	//font-family: $main-font !important;
	//text-transform: uppercase;
}

.photo-album {
	display: flex;
	flex-wrap: wrap;

	a {
		width: 31%;
		margin: 1%;

		img {
			width: 100%	
		}
	}


}



.sec-ubicacion {
	color: #fff;
}

.booking-container {
	display: flex;
	margin-top: 80px;

	.item {
		width: 31%;
		color: #fff;
		text-decoration: none;
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;

		img {
			margin-top: 8px;
		}

		b {
			margin-top: 15px;
			display: block;
		}

		.fa {
			font-size: 78px;
		}
	}
}