@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

$main-font: 'Alegreya Sans', sans-serif;

@import 'plugins/bourbon/bourbon';
@import 'plugins/neat/neat';
@import 'modules/offcanvas';
@import 'modules/footer';
@import 'modules/animated';
@import 'modules/animated-headline';
@import 'modules/top-bar';
@import 'pages/fullpage';
@import 'pages/home';
@import 'pages/internal';


.owl-carousel {
	background: #333;

	.owl-stage-outer {
		opacity: .5;
	}
}

.none {
	display: none;
}

body {
	background-color: #43bdfc;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: $main-font;
	margin: 0;
	padding: 0 0 0 0;
} 





.main-container {
	//text-align: center;
}



.tooltipster-default {
	border: 0 none !important;
	padding: 4px !important;
}

@media screen and (max-width: 800px) {
	.sliding-panel-button {
	    right: 0;
	    top: 16px;
	}

	.top-bar {
		//display: none;
	}

	.top-bar-wrapper {
		nav {
			display: none;

		}
	}

	.inner-wrapper {
		padding-left: 0px !important;
	}

	.sec-hero {
		opacity: 1;
	}

	.photo-album {
		a {
			width: 48%;
			margin: 1%;

			img {
				width: 100%	
			}
		}


	}

	section {
		padding: 1em;
	}

	.owl-carousel, .social {
		display: none !important;
	}

	.logo {
		top: 10px;
		img {
			width: 250px;
		}
	}
}