@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

$main-font: 'Alegreya Sans', sans-serif;

@import 'plugins/bourbon/bourbon';
@import 'plugins/neat/neat';
@import 'plugins/owl-carousel';
@import 'plugins/fullpage';
@import 'plugins/animated';
@import 'plugins/tooltipster';
@import 'modules/offcanvas';
@import 'modules/booking';
@import 'modules/footer';
@import 'modules/headroom';
@import 'modules/animated-headline';
@import 'modules/top-bar';
@import 'pages/home';
@import 'pages/lago-puelo';
@import 'pages/alojamiento';
@import 'pages/ubicacion';
@import 'pages/contacto';
@import 'pages/internal';

::-moz-selection { /* Code for Firefox */
  color: #6a2c70;
  background: #f08a5d;
}

::selection {
  color: #6a2c70;
  background: #f08a5d;
}





.none {
	display: none;
}

body {
	background-color: #43bdfc;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: $main-font;
	margin: 0;
	padding: 0 0 0 0;
} 





.main-container {
	//text-align: center;
}





@media screen and (max-width: 800px) {
	.sliding-panel-button {
	    right: 0;
	    top: 16px;
	}

	.top-bar {
		//display: none;
	}

	.top-bar-wrapper {
		nav {
			display: none;

		}
	}

	.inner-wrapper {
		padding-left: 0px !important;
	}

	.sec-hero {
		opacity: 1;
	}

	.photo-album {
		a {
			width: 48%;
			margin: 1%;

			img {
				width: 100%	
			}
		}


	}

	section {
		padding: 1em;
	}

	.social {
		display: none !important;
	}

	.logo {
		top: 10px;
		img {
			width: 250px;
		}
	}
}