<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>La estacion Hostel</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" href="{{site.baseurl}}/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/button.min.css">
	<script type="text/javascript" src="{{ site.baseurl }}/js/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/css/tooltipster.min.css" />
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/js/jquery.tooltipster.min.js"></script>
</head>
<body>

  <span id="arriba" style="position: absolute; top: 0"></span>
  <div class="offcanvas js-menu sliding-panel-content">
    <img src="{{ site.baseurl }}/img/logo-la-estacion-hostel.svg" width="180px" class="offcanvas-logo">
    <ul>
      <li><a href="/">inicio</a></li>
      <li><a href="/alojamiento">alojamiento</a></li>
      <li><a href="/lago-puelo">lago puelo</a></li>
      <li><a href="/ubicacion">ubicacion</a></li>
      <li><a href="/contacto">contacto</a></li>
    </ul>
    <div class="offcanvas-social">
      {% include social.html %}
    </div>
  </div>

  <button type="button" class="toogle-btn js-menu-trigger sliding-panel-button">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </button>

  <div class="top-bar">
    <div class="top-bar-wrapper">
      <a class="logo" href="/">
        <img src="{{ site.baseurl }}/img/logo-la-estacion-hostel.svg" width="160px">
      </a>
      <nav>
        <a href="#inicio">inicio</a>
        <a href="#alojamiento">alojamiento</a>
        <a href="#lago-puelo">lago puelo</a>
        <a href="#ubicacion">ubicacion</a>
        <a href="#contacto">contacto</a>
      </nav>
      <div class="social">
       {% include social.html %}
      </div>
    </div>
  </div>

  <div class="main-container">
    {{content}}
  </div>

  <div class="js-menu-screen sliding-panel-fade-screen"></div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  
  {% include fancybox.html %}
  {% include scroll-to.html %}
  {% include owl-carousel.html %}
  {% include tooltipster.html %}
  {% include offcanvas.html %}

</body>
