<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>La estacion Hostel</title>

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <meta name="robots" content="index, follow">

	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/button.min.css">
	<script type="text/javascript" src="{{ site.baseurl }}/js/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/css/tooltipster.min.css" />
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/js/jquery.tooltipster.min.js"></script>

  <!-- This following line is only necessary in the case of using the option `scrollOverflow:true` -->
  <script type="text/javascript" src="{{site.baseurl}}/js/scrolloverflow.min.js"></script>
  <script type="text/javascript" src="{{site.baseurl}}/js/jquery.fullPage.min.js"></script>
    <link rel="stylesheet" href="{{site.baseurl}}/style.css">
</head>
<body>
  

  <span id="arriba" style="position: absolute; top: 0"></span>
  <div class="offcanvas js-menu sliding-panel-content">
    <img src="{{ site.baseurl }}/img/logo-la-estacion-hostel.svg" width="220px" class="offcanvas-logo" style="display: none;">
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/alojamiento">Alojamiento</a></li>
      <li><a href="/lago-puelo">Lago Puelo</a></li>
      <li><a href="/ubicacion">Ubicación</a></li>
      <li><a href="/contacto">Contacto</a></li>
    </ul>
    <div class="offcanvas-social">
      {% include social.html %}
    </div>
  </div>

  <button type="button" class="toogle-btn js-menu-trigger sliding-panel-button">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </button>

  <div class="social">
   {% include social.html %}
  </div>

  <div class="top-bar">
    <div class="top-bar-wrapper">
      <a class="logo" href="/">
        <img src="{{ site.baseurl }}/img/logo-la-estacion-hostel.svg" width="310px">
      </a>
      <nav id="menu-superior" class="menu menu--yona">
        <div data-menuanchor="inicio" class="menu__item">
          <a class="menu__item-name" href="/">Inicio</a>
        </div>
        <div data-menuanchor="alojamiento" class="menu__item">
          <a class="menu__item-name" href="../#alojamiento">Habitaciones</a>
        </div>
        <div data-menuanchor="lago-puelo" class="menu__item">
          <a class="menu__item-name" href="/lago-puelo">Lago Puelo</a>
        </div>
        <div data-menuanchor="ubicacion" class="menu__item">
          <a class="menu__item-name" href="../#ubicacion">Ubicación</a>
        </div>
        <div data-menuanchor="contacto" class="menu__item">
          <a class="menu__item-name" href="../#contacto">Contacto</a>
        </div>
      </nav>

     
    </div>
  </div>

  <div class="main-container internal">
    <div class="book-now-container">
      <a href="../#contacto" class="ui button tiny orange book-now">
        <i class="fa fa-ticket" aria-hidden="true"></i>reservas
      </a>
    </div>
  
    {{content}}
  </div>


  <div class="js-menu-screen sliding-panel-fade-screen"></div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

  {% include fancybox.html %}
  {% include scroll-to.html %}
  {% include owl-carousel.html %}
  {% include tooltipster.html %}
  {% include animated-headline.html %}
  {% include offcanvas.html %}

</body>
